{% extends "base_generic.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} {% block page %} HOME {% endblock%} {% block content %}
<div class="heading">FOR A SAFER TOMORROW</div>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<div class="d-flex flex-sm-column">
  <div class="card_wrap">

    <div class="card_inner">
      <span class="material-icons"> groups </span>
      <h5>
        <b>STUDENT REGISTRATION</b>
      </h5>
      <h6><b>STEP 1</b></h6>
      <p>
        Enter your administration details in the login form. Details can be
        viewed from profile section.
      </p>
    </div>

    <div class="card_inner">
      <span class="material-icons"> vaccines </span>
      <h5>
        <b>VACCINATION DETAILS</b>
      </h5>
      <h6><b>STEP 2</b></h6>
      <p>
        Fill up your vaccination status and date when taken along with your
        covid history.
      </p>
    </div>

    <div class="card_inner">
      <span class="material-icons"> list_alt </span>
      <h5>
        <b>CERTIFICATE ATTACHMENT</b>
      </h5>
      <h6><b>STEP 3</b></h6>
      <p>
        Attach the vaccination certificate provided by the Government of India
        as a proof for verification.
      </p>
    </div>

    <div class="card_inner">
      <span class="material-icons"> verified </span>
      <h5>
        <b>VERIFICATION</b>
      </h5>
      <br />
      <h6><b>STEP 4</b></h6>
      <p>
        Notification by college administration will be provided after checking
        the attached certificate.
      </p>
    </div>

  </div>
</div>

{% endblock %}
