{% extends "base_generic.html" %}

{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} 

{% block page %} 
LOGIN 
{% endblock%} 

{% block content %}
<div class="wrapper">
  <div class="heading">LOGIN</div>

  <form method="POST" action="">
    {% csrf_token %}

    <div class="label">USERNAME</div>
    <div class="input-group mb-3">
      <input type="text" name="username" class="form-control" />
      <div class="input-group-append">
        <span class="input-group-text">
          <div class="material-icons" style="font-size: 24px">
            alternate_email
          </div>
        </span>
      </div>
    </div>

    <div class="label">PASSWORD</div>
    <div class="input-group mb-3">
      <input type="password" name="password" class="form-control" />
      <div class="input-group-append">
        <span class="input-group-text">
          <div class="material-icons" style="font-size: 24px">lock</div>
        </span>
      </div>
    </div>

    {% if messages %}
      <h5 style="text-align: center">
        {% for message in messages %} {{ message }} {% endfor %}
      </h5>
      {% endif %}

    <div class="d-flex justify-content-center login_container">
      <input class="btn login_btn" type="submit" value="Login" />
    </div>
    <div class="bottom">Don't have an account? <a href="{% url 'register' %}"> Register</a> </div>
  </form>
</div>

{% endblock %}
