{% extends "base_generic.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/notif.css' %}">  
{% endblock %}

{% block page %}
NOTIFICATIONS
{% endblock%}

{% block content %}  
  <div class="box">
    <i class="material-icons" style="font-size: 40px; color: rgb(0, 202, 27);">check_circle</i>
    <div class="d-flex flex-column">
        <div class="d-sm-flex">
           <div class="h4 ml-2 text-success">Congratulations! </div>
           <div class="h6 ml-2 mt-2 text-muted">23rd Oct, 2021 </div>
        </div>
        <div class="h6 ml-2"> 
           Your vaccination certificate has been approved.
        </div>
    </div>
  </div>

  <div class="box">
    <i class="material-icons" style="font-size: 40px; color: red;">warning</i>
    <div class="d-flex flex-column">
        <div class="d-sm-flex">
           <div class="h4 ml-2 text-danger">Error! </div>
           <div class="h6 ml-2 mt-2 text-muted">23rd Oct, 2021 </div>
        </div>
        <div class="h6 ml-2"> 
           Upload your combined vaccination certificate for all doses.
        </div>
    </div>
  </div>

  <div class="box">
    <i class="material-icons" style="font-size: 40px; color: rgb(38, 189, 209);">info</i>
    <div class="d-flex flex-column">
        <div class="d-sm-flex">   
           <div class="h4 ml-2 text-info">Reminder! </div>
           <div class="h6 ml-2 mt-2 text-muted">3rd Oct, 2021 </div>
        </div>
        <div class="h6 ml-2"> 
           Last date to fill your covid history is till 3rd November,2021.
        </div>
    </div>
  </div>

{% endblock %}