{% extends "base_generic.html" %} 

{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %} 

{% block page %} 
PROFILE 
{% endblock%} 

{% block content %}
<div class="row heading"></div>

<div class="wrapper">

    <div class="top">
      <div class="left">
        <span class="material-icons"> person </span>
      </div>
      <div class="right">
        <h3><b>Prerna Pathak</b></h3>
        <h4><b>20076198</b></h4>
      </div>
    </div>

    <div class="bottom">
      <div class="data">
        <h5>Branch :</h5>
        <p>Computer Science and Engineering</p>
      </div>
      <div class="data">
        <h5>Program :</h5>
        <p>4 - Year</p>
      </div>
      <div class="data">
        <h5>Year :</h5>
        <p>2nd year</p>
      </div>
      <div class="data">
        <h5>Age :</h5>
        <p>19 years</p>
      </div>
      <div class="data">
        <h5>Gender :</h5>
        <p>Female</p>
      </div>
    </div>

    </br>
    <div class="title">
      VACCINATION DETAILS
    </div>
    <div class="v_details">
      <div class="data">
        <h5>Reference ID :</h5>
        <p>54367834567896</p>
      </div>
      <div class="data">
        <h5>Vaccine Name :</h5>
        <p>Covaxin</p>
      </div>
      <div class="data">
        <h5>Dose taken :</h5>
        <p>Both</p>
      </div>
      <div class="data">
        <h5>Date of Dose 1 :</h5>
        <p>24th June, 2021</p>
      </div>
      <div class="data">
        <h5>Date of Dose 2 :</h5>
        <p>24th September, 2021</p>
      </div>
      <div class="data">
        <h5>Vaccination certificate:</h5>
        <p><a href="{% url 'index' %}"> Uploaded</a></p>
      </div>
    </div>

    <div class="title">
      COVID HISTORY
    </div>
    <div class="v_details">
      <div class="data">
        <h5>Covid affected :</h5>
        <p>No</p>
      </div>
      <div class="data">
        <h5>Date of infection :</h5>
        <p>-</p>
      </div>
    </div>
    
    <div class="d-flex justify-content-center">
      <span class="button" role="button"> Edit Profile </span>
    </div>
    
</div>
{% endblock %}


{% comment %} 
          setAvatarImage(
            'https://ui-avatars.com/api/?name=' +
              response.data.name +
              '&background=fff&size=33&color=007bff'
          ) 
{% endcomment %}