{% extends "base_generic.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %} {% block page %} PROFILE {% endblock%} {% block content %}
<div class="row heading"></div>

<div class="wrapper">
  <div class="top">
    <div class="left">
      <div class="profile_image">
      {{user.first_name.0}}{{user.last_name.0}} 
      </div>
    </div>
    <div class="right">
      <h3><b>{{user.first_name}} {{user.last_name}}</b></h3>
      <h4><b>{{user.profile.roll_no}}</b></h4>
    </div>
  </div>

  <div class="bottom">
     <a class="material-icons" id= "edit" href="{% url 'profile_form' %}">edit</a>
    <div class="data">
      <h5>Branch :</h5>
      <p>{{user.profile.branch}}</p>
    </div>
    <div class="data">
      <h5>Program :</h5>
      <p>{{user.profile.program}}</p>
    </div>
    <div class="data">
      <h5>Year :</h5>
      <p>{{user.profile.year}}</p>
    </div>
    <div class="data">
      <h5>Age :</h5>
      <p>{{user.profile.age}}</p>
    </div>
    <div class="data">
      <h5>Gender :</h5>
     
      <p>{{user.profile.gender}}</p>
    
    </div>
  </div>

  <br />
  <div class="title">VACCINATION DETAILS</div>
  <div class="v_details">
     <a class="material-icons" id= "edit" href="{% url 'vacc_form' %}">edit</a>
    <div class="data">
      <h5>Reference ID :</h5>
      <p> {{ user_vacc.reference_id }}</p>
    </div>
    <div class="data">
      <h5>Vaccine Name :</h5>
      <p> {{ user_vacc.vaccine_name }} </p>
    </div>
    <div class="data">
      <h5>Dose taken :</h5>
      <p> {{ user_vacc.dose_taken }} </p>
    </div>
    <div class="data">
      <h5>Date of Dose 1 :</h5>
      <p> {{ user_vacc.date1 }} </p>
    </div>
    <div class="data">
      <h5>Date of Dose 2 :</h5>
      <p> {{ user_vacc.date2 }} </p>
    </div>
    <div class="data">
      <h5>Vaccination certificate:</h5>
      {% if user_vacc.certificate %}
      <p><a href="{% get_media_prefix %}/{{user_vacc.certificate}}"> 
      Uploaded
      </a></p>
      {% else %}
      <p>Not available</p>
      {% endif %}
    </div>
  </div>

  <div class="title">COVID HISTORY</div>
  <div class="v_details">
    <a class="material-icons" id= "edit" href="{% url 'history_form' %}">edit</a>
    <div class="data">
      <h5>Covid affected :</h5>
      <p>{{user_covid.infected}}</p>
    </div>
    <div class="data">
      <h5>Date of infection :</h5>
      <p>{{user_covid.date}}</p>
    </div>
  </div>
</div>

{% endblock %}
