@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&family=Montserrat:ital,wght@1,500&family=Titillium+Web:wght@600;700&display=swap');

body {
  background-color: #e6e6e6;
  min-height: 100%;
  position: relative;
}

.sidenav img {
  width: 150px;
  height: 150px;
  margin-left: 3vw;
}

.sidenav {
  height: 100%;
  width: clamp(180px,16vw,16vw);
  position: fixed;
  background-color: #006666;
  padding-top: 20px;
}

.sidenav .hidenav{
  display: none;
  text-align: center;
}

.sidenav a {
  padding: 5px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #006666;
  background-color: white;
  margin: 10px 12px;
  border-radius: 7px;
}

.sidenav a:hover {
  color: #00b3b3;
}

.sidenav .guide {
  color: rgb(209, 209, 209);
  background: none;
  font-size: 30px;
  text-align: center;
  display: block;
  padding: 30px 0px;
}

.sidenav .guide:hover {
  color: white;
}

.container-fluid {
  margin-left: clamp(180px, 16vw, 16vw);
  max-width: 100vw;
}

.p-2 {
  color: white;
  background-color: #006666;
  font-size: clamp(15px, 1.5vw, 1.5vw);
  margin-right:3px;
  width: clamp(70px, 7vw, 7vw);
  text-align: center;
}

.p-2:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.mr-auto,
.mr-auto:hover {
  color: #006666;
  background: none;
  font-size: clamp(17px, 1.7vw, 1.7vw);
  font-weight: bold;
}

.footer
{ display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: rgb(56, 56, 56);
  color: white;
  bottom:auto;
  min-height: 100px;
  padding: 20px 0px;
}

.greet {
  color: #474747c4;
  text-align: center;
  font-size: clamp(15px, 1.5vw, 1.5vw);
  margin: auto 10px;
  font-family: 'Titillium Web', sans-serif;
  padding-right: 10px;
}

@media only screen and (max-width: 650px) {
  .sidenav .hidenav{
    display: block;
  }

  .sidenav{
    width:50px;
    padding-top: 5px;
  }

  .sidenav .shownav{
    display: none;
  }

  .container-fluid{
    margin-left: 50px;
  }
}
