body 
{ background-color: #e6e6e6;
}

.sidenav img
{ width: 150px;
  height: 150px; 
  margin-left: 50px;
}

.sidenav {
  height:100%;
  width:250px;
  position: fixed;
  background-color:#006666;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top:20px;
}

.sidenav a {
  padding: 5px 0px;
  text-decoration: none;
  font-size:25px;
  color: #006666;
  background-color: white;
  margin: 10px 12px;
  border-radius: 7px;
}

.sidenav a:hover{
  color:#00b3b3;
}	

.sidenav .guide {
  color: rgb(209, 209, 209);
  background: none;
  font-size: 30px;
  text-align: center;
  display: block;
  padding: 30px 0px;
}

.sidenav .guide:hover {
  color: white;
}

.container-fluid
{ margin-left: 250px; 
  max-width: 1282px;
}

.nav-title
{ color: #006666;
  padding: 6px;
  padding-left: 15px ;
}

.p-2
{ color: white;
  background-color: #006666;
  font-size: 20px;
  margin: 0px 3px;
  width: 100px;
  text-align: center;
}

.p-2:hover
{ font-weight: bold;
  color: white;
  text-decoration: none;
}

.mr-auto,.mr-auto:hover
{ color: #006666;
  background: none;
  font-size: 25px;
  font-weight: bold;
}

.main
{ height: 100%;
}