.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  text-align: center;
  color: rgb(97, 97, 97);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.pie {
  background-color: white;
  width: clamp(250px,30vw,30vw);
  height: clamp(250px,20vw,20vw);
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
  padding: 5px 10px;
  border-radius: 10px;
}

.bar_chart {
  background-color: white;
  width: clamp(250px,61vw,61vw);
  height: clamp(300px,40vw,40vw);
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
  padding: 5px 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  
  .pie {
    margin: 10px auto;
  }
  .bar_chart {
    width: clamp(250px,50vw,50vw);
    margin: 10px auto;
  }
}