.heading
{ display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #10366e;
  font-size: clamp(20px,3.5vw,3.5vw);
  margin-top: 40px;
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: clamp(200px,20vw,20vw);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}