.heading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: #10366e;
  font-size: clamp(30px,3.5vw,3.5vw);
  margin-top: 40px;
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: clamp(300px, 20vw, 20vw);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.card_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 100px 1.5vw;
} 

.card_inner {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 0 15px 0 15px;
  padding: 35px 20px;
  width: 225px;
  height: 315px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.459);
  transition: 0.5s ease-in-out;
  margin: 15px 15px;
}

.card_inner:hover {
  transform: scale(1.07) translateY(-10px);
}

.card_inner .material-icons {
  font-size: 60px;
  color: #005050bd;
}

.card_inner h5 {
  color: #005050d2;
  padding-top: 10px;
}
.card_inner h6 {
  color: #0d8b9493;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.card_inner p {
  padding-top: 7px;
  line-height: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #313130ab;
}