.container
{ margin-left: 250px; 
  max-width: 1280px;
}

.nav-title
{ color: #006666;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.nav-item
{ padding: 5px 5px;
  font-size: 15px;
  background-color: #006666;
  float: left;
}

.nav-item a
{ text-decoration: none;
  color:white;
}