.heading {
  background-image: url("../img/profile_back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: clamp(200px, 15vw, 15vw);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.wrapper {
  max-width: 500px;
  align-items: center;
  margin: 0 auto;
  margin-top: -100px;
  margin-bottom: 50px;
}

.wrapper .top {
  padding: 50px 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  background-color: rgb(63, 62, 62);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.wrapper .top .right {
  margin-left: 5em;
  margin-top: 0.75em;
}

.wrapper .material-icons {
  font-size: 100px;
  border-radius: 50%;
  background-color: rgb(145, 233, 221);
  color: rgb(14, 104, 92);
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper .bottom {
  margin-bottom: 5%;
  padding: 7% 0% 5% 10%;
  background-color: rgb(254, 255, 253);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.wrapper .v_details {
  padding: 7% 0% 5% 10%;
  background-color: rgb(254, 255, 253);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
  margin-bottom: 50px;
}

.wrapper .title {
  background-color: rgb(63, 62, 62);
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.wrapper h3 {
  color: rgb(255, 255, 255);
}

.wrapper h4 {
  color: rgb(202, 198, 198);
}

.wrapper .data h5 {
  color: rgba(17, 11, 100, 0.959);
  font-weight: 700;
  text-align: left;
}

.wrapper .data p {
  color: rgb(89, 89, 90);
  font-weight: 630;
  text-align: left;
  padding-bottom: 3%;
}

.wrapper .data p a {
  text-decoration: none;
}

.wrapper .button, .wrapper .button a {
  background-color: #006666;
  color: white;
  font-size: 20px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 9px;
  text-align: center;
}

.wrapper .button:hover, .wrapper .button a:hover{
  font-weight: bold;
  text-decoration: none;
}

.wrapper #edit{
  font-size: 30px; 
  float:right; 
  margin-right:20px; 
  padding:10px 10px; 
  text-decoration:none;
  background-color: white;
  color: rgb(89, 89, 90);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px 3px;
}

.wrapper #edit:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.1); 
}

.profile_image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgb(183, 213, 221);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px 3px;
  font-size: 55px;
  font-weight: bold;
  color: #006666;
  text-align: center;
  line-height: 120px;
}

@media only screen and (max-width: 650px) {
  .wrapper .top {
    display: flex;
    flex-direction: column;
  }
  .wrapper .top .right {
    margin-left: 0%;
  }
}
