.heading {
  background-image: url("../img/profile_back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: clamp(200px, 15vw, 15vw);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.wrapper {
    max-width: 500px;
    align-items: center;
    margin: 0 auto;
    margin-top: -100px;
}

.wrapper .top {
    padding: 50px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    background-color: rgb(63, 62, 62);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.wrapper .material-icons {
    font-size: 100px;
    border-radius: 50%;
    background-color: rgb(145, 233, 221);
    color: rgb(14, 104, 92);
}  

.wrapper .bottom {
    margin-top: -23px;
    margin-bottom: 5%;
    padding: 7% 0% 5% 10%;
    background-color: rgb(254, 255, 253);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.wrapper h3{
    color: rgb(255, 255, 255);
}

.wrapper h4{
    color: rgb(202, 198, 198);
}

.wrapper .data h5{
    color: rgba(17, 11, 100, 0.959);
    font-weight: 700;
    text-align: left;
}

.wrapper .data p{
    color: rgb(89, 89, 90);
    font-weight: 630;
    text-align: left;
    padding-bottom: 3%;
}

@media only screen and (max-width: 650px) {
  .wrapper .top{
    display: flex;
    flex-direction: column;
  }
}